&lt;div class=&quot;col-lg-10&quot;&gt;
    &lt;iframe src=&quot;https://docs.google.com/gview?url=https%3A//www.dropbox.com/s/bmn7b8nn7e94ln8/Communications%20Demo%20Resume.pdf?dl=0&amp;embedded=true&quot; style=&quot;width:100%; height:800px;&quot; frameborder=&quot;0&quot;&gt;&lt;/iframe&gt;
&lt;/div&gt;