&lt;div class=&quot;match lead-new&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;

            &lt;div class=&quot;col-sm-8&quot;&gt;
                &lt;p class=&quot;lead-new-title&quot;&gt;&lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;
                    Jane Awesome
                &lt;/a&gt;&lt;/p&gt;
                &lt;p class=&quot;lead-new-meta&quot;&gt;Northcentral University - MBA&lt;/p&gt;
                &lt;p class=&quot;lead-new-meta&quot;&gt;Locations: Scranton, PA&lt;/p&gt;
                &lt;p class=&quot;lead-new-meta&quot;&gt;GPA: 3.4&lt;/p&gt;
                &lt;p class=&quot;lead-new-meta&quot;&gt;
                    &lt;a data-original-title=&quot;Student is looking for an internship.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot;&gt;&lt;span class=&quot;fa fa-info&quot;&gt;&lt;/span&gt;&lt;/a&gt;
                    &amp;nbsp;&lt;a data-original-title=&quot;Student has taken then assessment.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot;&gt;&lt;span class=&quot;fa fa-pie-chart&quot;&gt;&lt;/span&gt;&lt;/a&gt;
                &lt;/p&gt;
            &lt;/div&gt;

            &lt;div class=&quot;col-sm-4 text-left&quot;&gt;
                &lt;p class=&quot;added&quot;&gt;Last Seen: 2 days ago&lt;/p&gt;
                &lt;p class=&quot;lead-new-meta&quot;&gt;MatchRank: 86%&lt;/p&gt;
                {{#is_js}}
                    &lt;div class=&quot;lead-buttons&quot;&gt;
                        &lt;button type=&quot;submit&quot; class=&quot;btn btn-danger&quot;&gt;&lt;span class=&quot;fa fa-times&quot;&gt; Pass&lt;/button&gt;
                        &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot; onclick=&quot;window.location='{{ link.pages-e-student-profile }}';&quot;&gt;&lt;span class=&quot;fa fa-heart&quot;&gt; Favorite&lt;/span&gt;&lt;/button&gt;
                    &lt;/div&gt;
                {{/is_js}}
            &lt;/div&gt;
        &lt;/div&gt;
&lt;/div&gt;