&lt;div class=&quot;match lead-new&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;

            &lt;div class=&quot;col-sm-8&quot;&gt;
                &lt;p class=&quot;lead-new-title&quot;&gt;
                    &lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;Sonya Frost&lt;/a&gt;
                &lt;/p&gt;
                &lt;p class=&quot;lead-new-meta&quot;&gt;Better Weekdays University - Medical Assisting&lt;/p&gt;
                &lt;p class=&quot;lead-new-meta&quot;&gt;Locations: St. Louis, MO, Chicago, IL&lt;/p&gt;
                &lt;p class=&quot;lead-new-meta&quot;&gt;GPA: 3.2&lt;/p&gt;
                &lt;p class=&quot;lead-new-meta&quot;&gt;
                    &lt;a data-original-title=&quot;Student has a resume.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot;&gt;&lt;span class=&quot;fa fa-file-text&quot;&gt;&lt;/span&gt;&lt;/a&gt;
                    &amp;nbsp;&lt;a data-original-title=&quot;Student has favorited your company.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot;&gt;&lt;span class=&quot;fa fa-heart&quot;&gt;&lt;/span&gt;&lt;/a&gt;
                    &amp;nbsp;&lt;a data-original-title=&quot;Student has taken the assessment.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot;&gt;&lt;span class=&quot;fa fa-pie-chart&quot;&gt;&lt;/span&gt;&lt;/a&gt;
                &lt;/p&gt;
            &lt;/div&gt;

            &lt;div class=&quot;col-sm-4 text-left&quot;&gt;
                &lt;p class=&quot;added&quot;&gt;Last Seen: 1 day ago&lt;/p&gt;
                &lt;p class=&quot;lead-new-meta&quot;&gt;MatchRank: 78%&lt;/p&gt;
                {{#is_js}}
                    &lt;div class=&quot;lead-buttons&quot;&gt;
                        &lt;button type=&quot;submit&quot; class=&quot;btn btn-danger&quot;&gt;&lt;span class=&quot;fa fa-times&quot;&gt; Pass&lt;/button&gt;
                        &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot; onclick=&quot;window.location='{{ link.pages-e-student-profile }}';&quot;&gt;&lt;span class=&quot;fa fa-heart&quot;&gt; Favorite&lt;/span&gt;&lt;/button&gt;
                    &lt;/div&gt;
                {{/is_js}}
            &lt;/div&gt;
        &lt;/div&gt;
&lt;/div&gt;