&lt;div id=&quot;theme-wrapper&quot; class=&quot;card-posting&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{#is_cs}}
                            {{&gt; molecules-cs-left-nav }}
                        {{/is_cs}}

                        {{#is_js}}
                            {{&gt; molecules-left-nav }}
                        {{/is_js}}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;

            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;posting-wrapper&quot;&gt;
                                &lt;div class=&quot;col-lg-8&quot;&gt;
                                    &lt;div class=&quot;main-box clearfix heading-with-sub-heading&quot;&gt;
                                        &lt;h1&gt;Veterans Health Administration&lt;/h1&gt;
                                        &lt;h2&gt;Help Genius Scientists Put Their Work in the Hands of Millions&lt;/h2&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;hidden-lg&quot;&gt;
                                        {{&gt; organisms-bdubs-conversation-small }}
                                    &lt;/div&gt;

                                    &lt;div class=&quot;hidden-lg&quot;&gt;
                                        {{&gt; organisms-explore-learn-company }}
                                    &lt;/div&gt;

                                    &lt;div class=&quot;row&quot;&gt;
                                        &lt;div class=&quot;col-md-12&quot;&gt;
                                            &lt;div class=&quot;main-box card card-image&quot;&gt;

                                                &lt;img src=&quot;{{img.pediatrics.src}}&quot; alt=&quot;{{img.pediatrics.alt}}&quot; /&gt;
                                                &lt;hr /&gt;
                                                &lt;p&gt;At Veterans Health Administration we serve over 2.4 million customers. We help genius scientists put their work in the hands of millions.&lt;/p&gt;
                                                &lt;p&gt;Our mission is to power the quality of life while securing a energy future for America. We are the largest electric power provider in Missouri and third largest natural gas distribution operation in Illinois. Our companies generate a net capacity of nearly 10,200 megawatts of electricity and own more than 7,500 circuit miles of transmission lines.&lt;/p&gt;
                                                &lt;p&gt;Benefits&lt;/p&gt;
                                                &lt;ul&gt;
                                                    &lt;li&gt;Life Insurance&lt;/li&gt;
                                                    &lt;li&gt;Work/Life Assistance&lt;/li&gt;
                                                    &lt;li&gt;Retirment Plan&lt;/li&gt;
                                                    &lt;li&gt;Educational Assistance&lt;/li&gt;
                                                &lt;/ul&gt;

                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;hidden-lg&quot;&gt;
                                        &lt;div class=&quot;main-box card&quot;&gt;
                                            &lt;h2&gt;Details&lt;/h2&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-xs-6&quot;&gt;
                                                    &lt;img src=&quot;/img/job-new/edward-jones.png&quot; width=&quot;100%&quot;&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-xs-5&quot;&gt;
                                                    &lt;h4&gt;Veterans Health Administration&lt;/h4&gt;
                                                    &lt;ul&gt;
                                                        &lt;li&gt;HQ: Indianapolis, IN&lt;/li&gt;
                                                        &lt;li&gt;Founded: 1997&lt;/li&gt;
                                                        &lt;li&gt;Revenue: $9.7B&lt;/li&gt;
                                                        &lt;li&gt;# of Employees: 9,200&lt;/li&gt;
                                                    &lt;/ul&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-sm-12&quot;&gt;
                                                    &lt;ul class=&quot;bottom-links&quot;&gt;
                                                        &lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Website&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-twitter&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-facebook&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-linkedin&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-youtube&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                                                    &lt;/ul&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;hidden-lg&quot;&gt;

                                        &lt;div class=&quot;main-box card-orange card&quot;&gt;
                                            &lt;h2&gt;Location&lt;/h2&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-xs-6&quot;&gt;
                                                    &lt;img src=&quot;/img/job-new/map.png&quot; width=&quot;100%&quot;/&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-xs-5&quot;&gt;
                                                    &lt;h4&gt;Indianapolis, IN&lt;/h4&gt;
                                                    &lt;ul&gt;
                                                        &lt;li&gt;Population: 820,445&lt;/li&gt;
                                                        &lt;li&gt;Avg. Monthly Cost: 2.5k&lt;/li&gt;
                                                        &lt;li&gt;Humid Continental Climate&lt;/li&gt;
                                                    &lt;/ul&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-sm-12&quot;&gt;
                                                    &lt;ul class=&quot;bottom-links&quot;&gt;
                                                        &lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Events&lt;/a&gt;&lt;/li&gt;
                                                    &lt;/ul&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;main-box card-purple card job-detail-card&quot;&gt;
                                            &lt;h2&gt;Reputation&lt;/h2&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-xs-12 text-center margin-top-60&quot;&gt;
                                                    &lt;div class=&quot;col-xs-6&quot;&gt;
                                                        &lt;h4&gt;Work / Life Balance &lt;a data-original-title=&quot;How current employees feel about not having to work all the time.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                                        &lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;col-xs-6&quot;&gt;
                                                        &lt;h4&gt;Opportunity &lt;a data-original-title=&quot;How current employees feel about the ability to advance within the company.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                                        &lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-xs-12 text-center&quot;&gt;
                                                    &lt;div class=&quot;col-xs-6&quot;&gt;
                                                        &lt;h4&gt;Culture &amp; Values &lt;a data-original-title=&quot;How employees measure company culture.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                                        &lt;p&gt;&amp;#9733;&amp;#9733;&lt;/p&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;col-xs-6&quot;&gt;
                                                        &lt;h4&gt;Leadership &lt;a data-original-title=&quot;How employees measure the vision and confidence in the company\'s executive team.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                                        &lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-sm-12 text-center margin-top-20&quot;&gt;
                                                    &lt;p class=&quot;small&quot;&gt;&lt;a href='http://www.glassdoor.com/index.htm'&gt;powered by &lt;img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /&gt;&lt;/a&gt;&lt;/p&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;

                                        &lt;/div&gt;

                                        &lt;div class=&quot;main-box card&quot;&gt;
                                            &lt;h2&gt;Contact Information&lt;/h2&gt;
                                            &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                                &lt;div class=&quot;col-sm-12&quot;&gt;
                                                    &lt;ul class=&quot;fa-ul no-padding no-image&quot;&gt;
                                                        &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Name: &lt;strong&gt;Joshua Thomas&lt;/strong&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Email: &lt;a href=&quot;#&quot;&gt;hiring@carouse...ics.com&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Phone: &lt;strong&gt;(312) 235-3632&lt;/strong&gt;&lt;/li&gt;
                                                    &lt;/ul&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                    {{&gt; organisms-browse-jobs-multiple }}

                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4 visible-lg&quot;&gt;
                                    {{&gt; organisms-explore-learn-company }}
                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4 visible-lg&quot;&gt;
                                    &lt;div class=&quot;main-box card&quot;&gt;
                                        &lt;h2&gt;Details&lt;/h2&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-lg-6&quot;&gt;
                                                &lt;img src=&quot;/img/job-new/edward-jones.png&quot; width=&quot;100%&quot;&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col-lg-5&quot;&gt;
                                                &lt;h4&gt;Veterans Health Administration&lt;/h4&gt;
                                                &lt;ul&gt;
                                                    &lt;li&gt;HQ: Indianapolis, IN&lt;/li&gt;
                                                    &lt;li&gt;Founded: 1997&lt;/li&gt;
                                                    &lt;li&gt;Revenue: $9.7B&lt;/li&gt;
                                                    &lt;li&gt;# of Employees: 9,200&lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-sm-12&quot;&gt;
                                                &lt;ul class=&quot;bottom-links&quot;&gt;
                                                    &lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Website&lt;/a&gt;&lt;/li&gt;
                                                    &lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-twitter&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                                                    &lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-facebook&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                                                    &lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-linkedin&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                                                    &lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-youtube&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4 visible-lg&quot;&gt;

                                    &lt;div class=&quot;main-box card-orange card&quot;&gt;
                                        &lt;h2&gt;Location&lt;/h2&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-sm-6&quot;&gt;
                                                &lt;img src=&quot;/img/job-new/map.png&quot; width=&quot;100%&quot;/&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col-sm-5&quot;&gt;
                                                &lt;h4&gt;Indianapolis, IN&lt;/h4&gt;
                                                &lt;ul&gt;
                                                    &lt;li&gt;Population: 820,445&lt;/li&gt;
                                                    &lt;li&gt;Avg. Monthly Cost: 2.5k&lt;/li&gt;
                                                    &lt;li&gt;Humid Continental Climate&lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-sm-12&quot;&gt;
                                                &lt;ul class=&quot;bottom-links&quot;&gt;
                                                    &lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Events&lt;/a&gt;&lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;main-box card-purple card job-detail-card&quot;&gt;
                                        &lt;h2&gt;Reputation&lt;/h2&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-sm-12 text-center margin-top-60&quot;&gt;
                                                &lt;div class=&quot;col-sm-6&quot;&gt;
                                                    &lt;h4&gt;Work / Life Balance &lt;a data-original-title=&quot;How current employees feel about not having to work all the time.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                                    &lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-sm-6&quot;&gt;
                                                    &lt;h4&gt;Opportunity &lt;a data-original-title=&quot;How current employees feel about the ability to advance within the company.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                                    &lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col-sm-12 text-center&quot;&gt;
                                                &lt;div class=&quot;col-xs-6&quot;&gt;
                                                    &lt;h4&gt;Culture &amp; Values &lt;a data-original-title=&quot;How employees measure company culture.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                                    &lt;p&gt;&amp;#9733;&amp;#9733;&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-xs-6&quot;&gt;
                                                    &lt;h4&gt;Leadership &lt;a data-original-title=&quot;How employees measure the vision and confidence in the company\'s executive team.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                                    &lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col-sm-12 text-center margin-top-20&quot;&gt;
                                                &lt;p class=&quot;small&quot;&gt;&lt;a href='http://www.glassdoor.com/index.htm'&gt;powered by &lt;img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /&gt;&lt;/a&gt;&lt;/p&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                    &lt;/div&gt;

                                    &lt;div class=&quot;main-box card&quot;&gt;
                                        &lt;h2&gt;Contact Information&lt;/h2&gt;
                                        &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                            &lt;div class=&quot;col-sm-12&quot;&gt;
                                                &lt;ul class=&quot;fa-ul no-padding no-image&quot;&gt;
                                                    &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Name: &lt;strong&gt;Joshua Thomas&lt;/strong&gt;&lt;/li&gt;
                                                    &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Email: &lt;a href=&quot;#&quot;&gt;hiring@carouse...ics.com&lt;/a&gt;&lt;/li&gt;
                                                    &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Phone: &lt;strong&gt;(312) 235-3632&lt;/strong&gt;&lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;