&lt;div class=&quot;main-box clearfix visible-lg&quot;&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-lg-12 margin-top-20&quot;&gt;
                &lt;p&gt;Search Terms &lt;a data-original-title=&quot;We automatically search for jobs using the best industry terms to save you time.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/p&gt;
                &lt;p&gt;&lt;em&gt;medical assistant, CNA, certified&lt;/em&gt;&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;