&lt;div class=&quot;main-box clearfix &quot;&gt;
    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
        &lt;h2&gt;Favorites&lt;/h2&gt;
    &lt;/header&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        &lt;div class=&quot;table-responsive&quot;&gt;
            &lt;table id=&quot;table-activity&quot; class=&quot;table table-hover normal&quot;&gt;
                &lt;thead&gt;
                &lt;tr&gt;
                    &lt;th&gt;Name&lt;/th&gt;
                    &lt;th&gt;Job&lt;/th&gt;
                    &lt;th&gt;Last Active&lt;/th&gt;
                    &lt;th&gt;&lt;/th&gt;
                &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tbody&gt;
                &lt;tr class=&quot;lead-new&quot;&gt;
                    &lt;td&gt;
                        &lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;Jane Frost&lt;/a&gt;
                        &lt;br /&gt;
                        Spelman University - Marketing
                    &lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;{{ link.pages-e-job-posting }}&quot;&gt;Medical Assistant&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;5 minutes ago&lt;/td&gt;
                    &lt;td&gt;
                        {{#is_js}}
                            &lt;div class=&quot;lead-buttons&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;modal&quot; data-target=&quot;#new-message-modal&quot;&gt;
                                    Message &lt;span class=&quot;fa fa-send&quot;&gt;&lt;/span&gt;
                                &lt;/button&gt;&amp;nbsp;
                                &lt;button class=&quot;btn btn-default&quot; title=&quot;Nope&quot;&gt;
                                    &lt;i class=&quot;fa fa-times&quot;&gt; &lt;/i&gt;
                                &lt;/button&gt;
                            &lt;/div&gt;
                        {{/is_js}}
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr class=&quot;lead-new&quot;&gt;
                    &lt;td&gt;
                        &lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;Fiona Apple&lt;/a&gt;
                        &lt;br /&gt;
                        Howard University - Journalism
                    &lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;{{ link.pages-e-job-posting }}&quot;&gt;Nurse I&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;1 day ago&lt;/td&gt;
                    &lt;td&gt;
                        {{#is_js}}
                            &lt;div class=&quot;lead-buttons&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;modal&quot; data-target=&quot;#new-message-modal&quot;&gt;
                                    Message &lt;span class=&quot;fa fa-send&quot;&gt;&lt;/span&gt;
                                &lt;/button&gt;&amp;nbsp;
                                &lt;button class=&quot;btn btn-default&quot; title=&quot;Nope&quot;&gt;
                                    &lt;i class=&quot;fa fa-times&quot;&gt; &lt;/i&gt;
                                &lt;/button&gt;
                            &lt;/div&gt;
                        {{/is_js}}
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr class=&quot;lead-new&quot;&gt;
                    &lt;td&gt;
                        &lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;Sonya Awesome&lt;/a&gt;
                        &lt;br /&gt;
                        Spelman University - Marketing
                    &lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;{{ link.pages-e-job-posting }}&quot;&gt;Medical Assistant&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;2 days ago&lt;/td&gt;
                    &lt;td&gt;
                        {{#is_js}}
                            &lt;div class=&quot;lead-buttons&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;modal&quot; data-target=&quot;#new-message-modal&quot;&gt;
                                    Message &lt;span class=&quot;fa fa-send&quot;&gt;&lt;/span&gt;
                                &lt;/button&gt;&amp;nbsp;
                                &lt;button class=&quot;btn btn-default&quot; title=&quot;Nope&quot;&gt;
                                    &lt;i class=&quot;fa fa-times&quot;&gt; &lt;/i&gt;
                                &lt;/button&gt;
                            &lt;/div&gt;
                        {{/is_js}}
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr class=&quot;lead-new&quot;&gt;
                    &lt;td&gt;
                        &lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;John Baby&lt;/a&gt;
                        &lt;br /&gt;
                        BWD University - Health Administration
                    &lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;{{ link.pages-e-job-posting }}&quot;&gt;Nurse II&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;5 days ago&lt;/td&gt;
                    &lt;td&gt;
                        {{#is_js}}
                            &lt;div class=&quot;lead-buttons&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;modal&quot; data-target=&quot;#new-message-modal&quot;&gt;
                                    Message &lt;span class=&quot;fa fa-send&quot;&gt;&lt;/span&gt;
                                &lt;/button&gt;&amp;nbsp;
                                &lt;button class=&quot;btn btn-default&quot; title=&quot;Nope&quot;&gt;
                                    &lt;i class=&quot;fa fa-times&quot;&gt; &lt;/i&gt;
                                &lt;/button&gt;
                            &lt;/div&gt;
                        {{/is_js}}
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;/tbody&gt;
            &lt;/table&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

{{&gt; organisms-new-message-modal }}