&lt;div id=&quot;theme-wrapper&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container playlist&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-8&quot;&gt;
                                &lt;div class=&quot;main-box infographic-box-center clearfix&quot;&gt;
                                    &lt;div class=&quot;clearfix&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-lg-12&quot;&gt;
                                                &lt;div class=&quot;main-box-header playlist-tags&quot;&gt;
                                                    &lt;ul&gt;
                                                        &lt;li&gt;New&lt;/li&gt;
                                                        &lt;li&gt;Viewed&lt;/li&gt;
                                                        &lt;li&gt;Degree/Program: Medical Assisting&lt;/li&gt;
                                                        &lt;li&gt;Personalized&lt;/li&gt;
                                                        &lt;li&gt;Internship&lt;/li&gt;
                                                        &lt;li&gt;From Career Services&lt;/li&gt;
                                                    &lt;/ul&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-lg-12 playlist-title&quot;&gt;
                                            &lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;
                                                    &lt;span&gt;Certified Medical Assistant Medical Receptionist&lt;/span&gt;
                                                &lt;/a&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col-lg-12 playlist-sub-title&quot;&gt;
                                                &lt;p&gt;Give patients the care and comfort they need to feel better, faster.&lt;/p&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;playlist-glances&quot;&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-xs-6 playlist-glance playlist-company&quot;&gt;
                                                    &lt;h3&gt;Company&lt;/h3&gt;
                                                    &lt;p&gt;Veterans Health Administration&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-xs-6 playlist-glance playlist-location&quot;&gt;
                                                    &lt;h3&gt;Location&lt;/h3&gt;
                                                    &lt;p&gt;Indianapolis, IN&lt;/p&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;hr /&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-xs-6 playlist-glance playlist-balance&quot;&gt;
                                                    &lt;h3&gt;Work / Life Balance &lt;a data-original-title=&quot;How current employees feel about not having to work all the time.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h3&gt;
                                                    &lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-xs-6 playlist-glance playlist-outlook&quot;&gt;
                                                    &lt;h3&gt;Opportunity &lt;a data-original-title=&quot;How current employees feel about the ability to advance within the company.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h3&gt;
                                                    &lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-xs-6 playlist-glance playlist-culture&quot;&gt;
                                                    &lt;h3&gt;Culture &amp; Values &lt;a data-original-title=&quot;How employees measure company culture.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h3&gt;
                                                    &lt;p&gt;&amp;#9733;&amp;#9733;&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-xs-6 playlist-glance playlist-compensation&quot;&gt;
                                                    &lt;h3&gt;Compensation &lt;a data-original-title=&quot;The average median salary in the entire United States for folks in this industry.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h3&gt;
                                                    &lt;p&gt;$29,960 median salary&lt;/p&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;hr /&gt;
                                            &lt;div class=&quot;playlist-glance&quot;&gt;
                                                &lt;h3&gt;Responsibilities &lt;a data-original-title=&quot;The day-to-day expectations of this job.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h3&gt;
                                                &lt;ul&gt;
                                                    &lt;li&gt;Attention to Detail, Dependability, Cooperation, Integrity&lt;/li&gt;
                                                    &lt;li&gt;Record patients' medical history, vital statistics, or information such as test results in medical records.&lt;/li&gt;
                                                    &lt;li&gt;Prepare treatment rooms for patient examinations, keeping the rooms neat and clean.&lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;p class=&quot;small playlist-glassdoor&quot;&gt;&lt;a href='http://www.glassdoor.com/index.htm'&gt;powered by &lt;img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /&gt;&lt;/a&gt;&lt;/p&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;row playlist-feedback-desktop&quot;&gt;
                                            &lt;div class=&quot;row text-center&quot;&gt;
                                                &lt;form class=&quot;form-inline giant&quot;&gt;
                                                    &lt;button type=&quot;submit&quot; class=&quot;btn btn-danger&quot; onclick=&quot;window.location='{{ link.pages-jsj-jobs-journey2 }}';&quot;&gt;&lt;span class=&quot;fa fa-thumbs-down&quot;&gt; Not Me&lt;/span&gt;&lt;/button&gt;
                                                    &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot; onclick=&quot;window.location='{{ link.pages-j-posting }}';&quot;&gt;&lt;span class=&quot;fa fa-thumbs-up&quot;&gt; Me&lt;/span&gt;&lt;/button&gt;
                                                    &lt;button type=&quot;submit&quot; class=&quot;btn btn-info&quot; onclick=&quot;window.location='{{ link.pages-jsj-intro-journey2 }}';&quot;&gt;&lt;span class=&quot;fa fa-forward&quot;&gt; Next&lt;/span&gt;&lt;/button&gt;
                                                &lt;/form&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;!--&lt;div class=&quot;col-lg-4&quot;&gt;
                                {{&gt; organisms-playlist-filters-searchterms }}
                            &lt;/div&gt;--&gt;
                            &lt;div class=&quot;col-lg-4&quot;&gt;
                                {{&gt; organisms-playlist-filters }}
                            &lt;/div&gt;

                            &lt;div class=&quot;col-lg-4&quot;&gt;
                                {{&gt; organisms-bdubs-conversation-small }}
                            &lt;/div&gt;
                        &lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;playlist-feedback-mobile&quot;&gt;
        &lt;div class=&quot;row text-center&quot;&gt;
            &lt;form class=&quot;form-inline giant&quot;&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-danger&quot; onclick=&quot;window.location='{{ link.pages-jsj-jobs-journey2 }}';&quot;&gt;&lt;span class=&quot;fa fa-thumbs-down&quot;&gt; Not Me&lt;/span&gt;&lt;/button&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot; onclick=&quot;window.location='{{ link.pages-j-posting }}';&quot;&gt;&lt;span class=&quot;fa fa-thumbs-up&quot;&gt; Me&lt;/span&gt;&lt;/button&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-info&quot; onclick=&quot;window.location='{{ link.pages-jsj-intro-journey2 }}';&quot;&gt;&lt;span class=&quot;fa fa-forward&quot;&gt;&lt;/span&gt;&lt;/button&gt;
            &lt;/form&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;